#divContainer {
	background: whitesmoke;
	width: 20%;
	float: left;
	rotate: 180deg;
	top: 30%;
	right: 43%;
	position: absolute;
}

.div30 {
	height: 45px;
	background-color: rgb(200, 200, 200);
	animation: key1 5s 1;
}

.div40 {
	height: 60px;
	background-color: rgb(200, 200, 200);
	animation: key1 5s 1;
}

.div80 {
	height: 120px;
	background-color: rgb(200, 200, 200);
	animation: key1 5s 1;
}

@keyframes key1 {
	from {
		background-color: white;
	}

	to {
		background-color: rgb(200, 200, 200);
	}
}

.theDiv {
	background-color: white;
	float: right;
	margin: 10%;
	margin-top: 0%;
	width: 10%;
	height: 150px;
}

h3 {
	rotate: 180deg;
	text-align: center;
}

h5 {
	rotate: 180deg;
	text-align: center;
	margin: 5% 0%;
}

h5 span {
	margin: 10% 15% 10% 6%;
	text-align: left;
}